body{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}
.Imgdiv{
   /* width: 400px;
  display: flex;
  height: 400px;  */
  position: absolute;
  z-index: -1;
  
  

}
img{
  width: 1350px;
  height: 250px;
}
 .fcontainer{
  margin: auto;
  margin-bottom: 20px;
 
  width: 50%;
  border: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  top: 115px;
  
} 
input{
  
  border-radius: 5px;
 /* position: relative; 
 top: 150px; */
  width:650px ;

  margin-top:0 ;
  border: 0px;
  display: flex;
  justify-content: left;
  align-items: left;
  

}
input:focus{
  border: green;
  background-color: lightblue;
}

.display{
  
  

position: relative;
  /* margin: auto; */
  
/* flex-direction: column;
 display: flex;  */
  color: black;
}
p{
  font-size: 20px;
}

.Dcontainer{
  display: flex;
flex-direction:column;  
  margin: auto;
   width: 50%;
  height: auto; 
  position: relative;
  border: 2px dashed lightgreen;
   top: 200px; 
}

  .taskleft{
  width: 85px;
  height: 25px;
  border: 1px dashed lightblue;
  text-align: center;
  
position: relative;
top: 230px;
/* display: flex;
justify-content: center;
align-items: center; */
left: 338px;
}
.Dinput{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
} 
.Ibutton{
  background-color:lightgreen;
  padding:5px;
  display: flex;
 position:relative;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom: 5px solid grey;
  border-left: 1px solid grey;
  cursor: pointer;
  margin: auto;
}

.fbutton{
  background-color: skyblue;
  border-radius: 2px;
  padding: 8px 12px;
 
  border:0px;
  border-bottom: 5px solid grey;
  border-left: 1px solid grey;
  cursor: pointer;
 margin: auto; 
  justify-content: left;
  align-items: left;
}
button:active{
  border-bottom: 2px;
  top:3px
}